/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flexLeft {
  display: flex;
  flex-flow: row-reverse wrap;
}
.flexRow {
  display: flex;
  flex-flow: row wrap;
}
.flexColumn {
  display: flex;
  flex-flow: column wrap;
}
.aStyle {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #282425;
}
.contentImage {
  height: 80%;
  width: auto;
  border-radius: 50px;
}
.contentText {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 10px;
  padding: 3%;
}
.contentText p {
  margin: 5% 0;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.contentSections {
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
html,
body {
  height: 100%;
  background: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #282425;
}
h1 {
  font-size: 2.7rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-shadow: 2px 2px #777676;
}
h2 {
  font-size: 1.6rem;
  text-shadow: 1px 1px #777676;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
header {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  top: 0;
  width: 100%;
  background: #EEEDF3;
  overflow: hidden;
  justify-content: space-evenly;
}
header:hover .logo {
  transform: scaleY(-1);
}
header nav {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  justify-content: space-evenly;
  align-content: center;
}
header nav a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #282425;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 300ms ease;
}
header nav a:hover {
  color: #787475;
}
header .logo {
  width: 80px;
  height: auto;
  margin: 10px;
  transition: all 800ms ease;
}
.container {
  width: 100%;
  margin: auto;
}
.container h2::before {
  display: block;
  content: " ";
  margin-top: -99px;
  height: 99px;
  visibility: hidden;
  pointer-events: none;
}
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: auto;
  color: #000;
}
.intro img {
  border-radius: 50%;
}
.intro a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #282425;
}
.intro .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 10px;
  padding: 3%;
}
.intro .content p {
  margin: 5% 0;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.intro .content:hover .fa-chevron-down {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.intro .content .fa-chevron-down {
  display: flex;
  justify-content: center;
  transition: 300ms ease;
}
.contentContainer {
  background: #EEEDF3;
  display: flex;
  flex-flow: row wrap;
}
.contentContainer img {
  height: 80%;
  width: auto;
  border-radius: 50px;
}
.contentContainer .skills,
.contentContainer .achievements {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.contentContainer .skills .content,
.contentContainer .achievements .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 10px;
  padding: 3%;
}
.contentContainer .skills .content p,
.contentContainer .achievements .content p {
  margin: 5% 0;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.contentContainer .experience {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background: #ffffff;
}
.contentContainer .experience .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 10px;
  padding: 3%;
}
.contentContainer .experience .content p {
  margin: 5% 0;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.contentContainer .contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background: #ffffff;
}
.contentContainer .contact .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 10px;
  padding: 3%;
  line-height: 2;
}
.contentContainer .contact .content p {
  margin: 5% 0;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.contentContainer .contact .content .address {
  font-size: 1.2rem;
}
.contentContainer .contact .content .socialMedia {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.contentContainer .contact .content .socialMedia a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #282425;
}
.contentContainer .contact .content .socialMedia .icons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.contentContainer footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2%;
}
.contentContainer footer .copyright {
  font-size: 0.9rem;
}
section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 50vh;
  padding: 2%;
  border-bottom: 1px solid #282425;
}
